.bread-crumb {
    ul {
        display: flex;
        text-transform: uppercase;
        font-size: 10px;
        padding-bottom: 10px;

        @media screen and (max-width:$mobile) {
            padding-top: 10px;
        }

        li {
            &.last {
                font-weight: bold;
            }
            
            &:after {
                //content: '\203A';
                content: '/';
                margin: 0 15px;
                font-size: 14px;
            }

            &:last-child {
                &:after {
                    opacity: 0;
                }
            }
        }
    }
}