#cart-message {
    li {
        display: none;
        width: 200px;
        height: auto;
        position: fixed;
        top: 70px;
        right: 470px;
        padding: 7px;
        z-index: 1;
        background-color: #ededed;
        border: 1px solid $cor-cta;
        border-radius: 3px;
        margin-bottom: 10px;

        p {
            max-width: 85%;
        }

        span {
            font-weight: bold;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 7px;
        }

        a {
            font-weight: bold;
            color: $cor-cta;
            display: block;
            margin-top: 10px;
        }
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(0, -4px, 0);
    }
    20%, 80% {
        transform: translate3d(0, 6px, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(0, -8px, 0);
    }
    40%, 60% {
        transform: translate3d(0, 8px, 0);
    }
}

#cart-lateral {
    position: fixed;
    top: 0;
    background-color: #ededed;
    width: 360px;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 995; // 5
    transition: all 300ms;

    &.shake {
        animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;

        &:before {
            opacity: 1;
        }
    }
    
    &.active {
        z-index: 9999999999999999999;

        @media screen and (min-width: $mobile) {
            visibility: visible;
            opacity: 1;
        }

        @media screen and (max-width: $mobile) {
            bottom:0!important;

            .header {
                background-color: initial;
                margin: 0 10px;
                padding: 0;
                color: #666;
                font-size: 18px;

                .cart-close {
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (min-width:$mobile) {
        right: 0%; //5%
    }

    @media screen and (max-width:$mobile) {
        width:100%;
        height: auto;
        top:initial;
        bottom:-530px;
        left:0;
        visibility: visible;
        opacity: 1;
        transition:bottom 300ms;

        &:before {
            content: 'Produto Adicionado na sacola';
            display: block;
            position: absolute;
            top: -50px;
            padding: 10px;
            background: #fff;
            box-shadow: 0 0 16px 0 #999;
            width: 80%;
            left: 50%;
            margin-left: -41%;
            border-radius: 20px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            opacity: 0;
            transition: all .3s .3s;
            text-align: center;
        }
    }

    @media screen and (max-width: $iphone5) {
        bottom:-372px;
    }

    .header {
        margin: 0 10px;

        @media screen and (max-width: $iphone5) {
            font-size: 16px!important;
        }

        @media screen and (max-width: $mobile) {
            background-color: $cor-principal;
            margin: 0;
            padding: 10px 0;
            color: white;
            font-size: 18px;

            .cart-close {
                opacity: 0;
            }
        }

        .title {
            letter-spacing: 1.5px;
            text-align: center;
            padding: 10px 0;
            transition: opacity 300ms;

            &:after {
                content: '';
                width: 10px;
                height: 10px;
                border-right: 1px solid white;
                border-bottom: 1px solid white;
                display: inline-block;
                margin-right: 9px;
                transform: rotate(-135deg);
                top: 30px;
                position: absolute;
                left: 15px;
            }
        }

        .cart-close {
            width: 20px;
            height: 20px;
            line-height: 17px;
            font-size: 21px;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            color: red;
            position: absolute;
            top: 10px;
            right: 10px;
            font-weight: 400;
        }
    }

    #message_frete {
        display: none;
        padding: 5px 10px;
        margin: 0 10px;
        font-size: 13px;
        line-height: 15px;
        border-radius: 3px;
        text-align: center;
        border: 1px solid steelblue;
        background-color: #dfe9f5;
        text-transform: uppercase;

        @media screen and (max-width: $mobile) {
            margin-bottom: 10px;
        }

        &.success {
            background: #edf3f1;
            color: green;
            border: 1px solid green;

            .message_default {
                display: none;
            }

            .message_success {
                display: block!important;
            }
        }

        p {
            span {
                display: block;
            }
        }
    }

    .content {
        margin: 30px 10px 0 10px;
        height: 355px;
        overflow-y: scroll;
        position: relative;

        &.loading {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(/arquivos/ajax-loader.gif);
            background-repeat: no-repeat;
            background-position: center center;
            content: '';
            z-index: 1;
            background-color: #ffffff61;
            transition: opacity 300ms;
            opacity: 0;
            visibility: hidden;
        }

        @media screen and (min-width:$mobile) {
            height: 75%;
        }

        @media screen and (min-width:$mobile) and (max-width:$small-monitor) {
            height: 352px!important;
        }

        @media screen and (max-width: $iphone5){
            margin: 0 10px 0 10px;
            height: 235px!important;
        }

        ul {            
            li {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: relative;
                background-color: #fff;
                margin-bottom: 10px;

                .image {
                    width: 25%;
                    height: 90px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .text {
                    width: 75%;
                    height: 90px;
                    padding-left: 5px;

                    &>p {
                        max-width: 90%;
                        padding-top: 5px;
                        font-size: 12px;
                        line-height:12px;
                    }
                }

                .ft {
                    width: 100%;
                    height: 30px;
                    margin-top: 22px;
                    display: flex;
                    justify-content: space-between;

                    li {
                        width: 50%;
                        margin-bottom: 0;

                        .box-count {
                            display: flex;
                            justify-content: space-between;
                            border:1px solid $cor-principal;
                            border-radius: 3px;
                            align-items: center;

                            .count {
                                position: relative;
                                width: 30%;
                                height: 30px;
                                line-height: 26px;
                                font-size: 20px;
                                font-weight: bold;
                                text-align: center;
                                color: $cor-principal;

                                &:after {
                                    content: "";
                                    width: 1px;
                                    height: 60%;
                                    background-color: #dbdbdb;
                                    display: block;
                                    position: absolute;
                                    top: 6px;
                                }

                                &.count-down {
                                    &:after {
                                        right: 0;
                                    }
                                }

                                &.count-up {
                                    &:after {
                                        left: 0;
                                    }
                                }
                            }

                            input[type="number"] {
                                width: 40%;
                                height: 20px;
                                text-align: center;
                                transition: border 300ms;
                                border-radius: 0;
                                -webkit-appearance: textfield;
                                -moz-appearance: textfield;
                                -o-appearance: textfield;
                                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                &.active {
                                    border: 1px solid red;
                                }
                            }
                        }

                        .price {
                            text-align: center;
                            font-size: 18px;
                            font-weight: 400;
                            color: $cor-principal;

                            @media screen and (max-width: $iphone5) {
                                font-size: 16px!important;
                            }
                        }
                    }
                }

                .removeUni {
                    color: red;
                    font-size: 13px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    
    .no-estoque {
        position: fixed;
        width: 350px;
        bottom: 175px;
        margin-left: 10px;
        background-color: #f7d0d2;
        padding: 15px 10px;
        border-radius: 5px;
        color: #9C5954;
        font-weight: 500;
        margin-top: 15px;
        display: none;

        @media screen and (max-width:$mobile) {
            width: calc(100% - 20px);
        }

        &.active {
            display: block;
        }

        span {
            float: right;
            font-weight: bold;
            cursor: pointer;
            margin-top: -15px;
        }
    }

    .footer {
        padding: 10px;
        margin-top: 30px;
        background-color: white;

        @media screen and (min-width:$mobile) {
            position: fixed;
            bottom: 0;
            width: 360px;
        }

        @media screen and (max-width: $mobile) {
            margin-top: 8px;
        }

        ul {
            margin: 10px 0;

            @media screen and (max-width:$iphone5) {
                margin-top: 0;
            }

            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                span {
                    &.frete {
                        text-align: right;

                        a {
                            text-decoration: underline;
                            cursor: pointer;
                        }

                        .box-1 {
                            div {
                                display: none;

                                form {
                                    display: flex;
                                    justify-content: flex-end;
        
                                    input[type="text"] {
                                        width: 80%;
                                        height: 26px;
                                        border: 1px solid $cor-secundaria;
                                        text-indent: 10px;
                                        transition: border 300ms;
                                        border-radius: 0;
                                        -webkit-appearance: none;
        
                                        &.active {
                                            border: 1px solid red;
                                        }
                                    }
        
                                    input[type="submit"] {
                                        width: 20%;
                                        height: 26px;
                                        background-color: $cor-secundaria;
                                        color: #fff;
                                        cursor: pointer;
                                        -webkit-appearance: none;
                                        border-radius: 0;
                                    }
                                }
                            }
                        }

                        .box-2 {
                            display: none;

                            .return-frete {
                                color: $cor-secundaria;
                                margin-left: 5px;
                                cursor: pointer;
                            }
                        }
                    }

                    &.total-price {
                        color: $cor-principal;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .btn-finalizar {
        width: 100%;
        height: 45px;
        line-height: 45px;
        display: block;
        background-color: $cor-cta;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
    }
}