.compra-assistida {
    /*CATEGORIAS OCULTAS*/
    .lista.sub.categoria li[data-sub="/tecidos-para-sofa/chenille-poliester"],
    .lista.sub.categoria li[data-sub="/tecidos-para-sofa/colecoes"],
    .lista.sub.categoria li[data-sub="/tecidos-para-sofa/tecidos-estofados"],
    .lista.sub.categoria li[data-sub="/tecidos-para-sofa/rustico"],
    .lista.sub.categoria li[data-sub="/tecidos-para-sofa/bordado"],
    .lista.sub.categoria li[data-sub="/tecidos-para-sofa/cetim"]
    {
        display:none;
    }

    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/estampado"],
    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/infantil"],
    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/juvenil"],
    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/tecidos-para-toalha-de-mesa"],
    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/colecoes"],
    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/tecidos-cortinas"],
    .lista.sub.categoria li[data-sub="/tecidos-para-cortinas/cortinas-persianas"]
    {
        display:none;
    }

    .lista.sub.categoria li[data-sub="/corino-e-courvin/colecoes"] 
    {
        display: none;
    }

    .lista.sub.categoria li[data-sub="/tapetes-e-capachos/antialergico"],
    .lista.sub.categoria li[data-sub="/tapetes-e-capachos/area-externa"],
    .lista.sub.categoria li[data-sub="/tapetes-e-capachos/head-set-friese"],
    .lista.sub.categoria li[data-sub="/tapetes-e-capachos/kilim"],
    .lista.sub.categoria li[data-sub="/tapetes-e-capachos/liso"]
    {
        display: none;
    }

    .lista.sub.categoria li[data-sub="/itens-para-decoracao/futons"],
    .lista.sub.categoria li[data-sub="/itens-para-decoracao/diversos"],
    .lista.sub.categoria li[data-sub="/itens-para-decoracao/candelabros"],
    .lista.sub.categoria li[data-sub="/itens-para-decoracao/bandejas"],
    .lista.sub.categoria li[data-sub="/itens-para-decoracao/esculturas"],
    .lista.sub.categoria li[data-sub="/itens-para-decoracao/novidades"]
    {
        display: none;
    }

    .lista.sub.categoria li[data-sub="/papel-de-parede/colecoes"],
    .lista.sub.categoria li[data-sub="/papel-de-parede/degrade"],
    .lista.sub.categoria li[data-sub="/papel-de-parede/decoracoes"],
    .lista.sub.categoria li[data-sub="/papel-de-parede/tecido-auto-adesivo"]
    {
        display: none;
    }

    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/para-maquina-de-costura"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/agulhas"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/botao-de-forrar"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/bracos-para-poltrona"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/diversos"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/impermeabilizantes"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/mecanismos-para-sofa"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/sistema-wave-para-cortina"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/vazadores"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/ziper"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/entretela-e-franzidor"],
    .lista.lista.sub.categoria li[data-sub="/acessorios-e-suprimentos/base-para-poltrona"]
    {
        display: none;
    }

    .lista.sub.categoria li[data-sub="/persianas/filtro-da-luz"] 
    {
        display: none;
    }
    /*FIM - CATEGORIAS OCULTAS*/

    main {
        .timeline {
            margin-bottom: 30px;

            &[data-step="1"] {
                .line {
                    div {
                        span {
                            width: 2%;
                        }
                    }

                    i {
                        left: 2%;
                    }
                }
            }

            &[data-step="2"] {
                .line {
                    div {
                        span {
                            width: 25%;
                        }
                    }

                    i {
                        left: 24%;
                    }
                }
            }

            &[data-step="3"] {
                .line {
                    div {
                        span {
                            width: 50%;
                        }
                    }

                    i {
                        left: 49%;
                    }
                }
            }

            &[data-step="4"] {
                .line {
                    div {
                        span {
                            width: 75%;
                        }
                    }

                    i {
                        left: 74%;
                    }
                }
            }

            //FIM
            &[data-step="5"] {
                .line {
                    div {
                        span {
                            width: 98%;
                        }
                    }

                    i {
                        left: 98%;
                    }
                }
            }

            .line {
                width: 100%;
                height: 30px;
                position: relative;

                div {
                    position: absolute;
                    top: 50%;
                    margin-top: -2.5px;
                    display: block;
                    width: 100%;
                    height: 5px;
                    border-radius: 50px;
                    background-color: #dcdcdc;

                    span {
                        width: 2%;
                        height: 100%;
                        display: block;
                        background-color: $cor-principal;
                        transition: width 300ms;
                    }
                }

                i {
                    position: absolute;
                    top: 50%;
                    left: 2%;
                    margin-top: -7.5px;
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50px;
                    background-color: $cor-principal;
                    transition: all 300ms;
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                // li {
                //     span {}
                // }
            }
        }

        >section {
            padding: 30px 0;
            background-size: 100%;
            background-color: #efefef;
            background-repeat: no-repeat;
            background-position: top right;
            background-image: url(/arquivos/bg_compra_assistida.jpg);

            .box {
                width: 100%;
                max-width: 80%;
                height: auto;
                background-color: white;

                @media screen and (max-width:$mobile) {
                    max-width: 100%;
                }

                >.content {
                    height: auto;
                    padding: 50px 100px 0;

                    @media screen and (max-width:$mobile) {
                        padding: 15px;
                    }

                    .title {
                        height: 90px;
                        text-align: center;
                        font-weight: 400;
                        line-height: 20px;

                        span {
                            font-size: 30px;
                        }

                        small {
                            font-size: 16px;
                            display: block;
                        }
                    }

                    .step {
                        &.step_1 {
                            .lista {
                                &.categoria {
                                    ul {
                                        &:empty {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }

                        &.step_1,
                        &.step_2,
                        &.step_3,
                        &.step_4,
                        &.step_5 {
                            /* width */
                            ::-webkit-scrollbar {
                                width: 8px;
                                height: 8px;
                            }

                            /* Track */
                            ::-webkit-scrollbar-track {
                                border-radius: 50px;
                                background-color: transparent;
                            }

                            /* Handle */
                            ::-webkit-scrollbar-thumb {
                                background-color: #b9b9b9;
                                border-radius: 50px;
                            }

                            .content {
                                overflow-x: hidden;
                                max-height: 585px;

                                ul {
                                    &:empty {
                                        &:after  {
                                            color: red;
                                            width: 100%;
                                            display: block;
                                            text-align: center;
                                            font-size: 25px;
                                        }
                                    }
                                }
                            }
                        }

                        &.step_1,
                        &.step_2 {
                            .content {
                                .lista {
                                    &.sub.categoria {
                                        input {
                                            width: calc(100% - 30px);
                                            height: 40px;
                                            color: gray;
                                            border-radius: 3px;
                                            text-indent: 35px;
                                            margin: 0 auto 10px;
                                            background-position: 8px;
                                            border: 1px solid #dcdcdc;
                                            background-repeat: no-repeat;
                                            background-image: url(/arquivos/ico-lupa.png);
                                        }
                                    }
                                }

                                ul {
                                    @media screen and (min-width:$mobile) {
                                        display: flex;
                                        flex-wrap: wrap;
                                        flex-direction: row;
                                    }

                                    li {
                                        width: calc(33.3% - 30px);
                                        height: auto;
                                        margin: 0 15px 30px;

                                        @media screen and (max-width:$mobile) {
                                            width: 92%;
                                        }

                                        &.disabled {
                                            opacity: 0.3;
                                            pointer-events: none;
                                        }

                                        a {
                                            i {
                                                display: block;
                                                width: 100%;
                                                height: 130px;
                                                border-radius: 5px;
                                                overflow: hidden;
                                                transition: background-color 300ms;
                                                box-shadow: 0px 0px 5px 1px #dcdcdc;
                                                border: 1px solid #dcdcdc;

                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }

                                            &.active,
                                            &:hover {
                                                i {
                                                    border-color: $cor-principal;
                                                }
                                            }

                                            span {
                                                display: block;
                                                margin-top: 10px;
                                                font-size: 13px;
                                                font-weight: 400;
                                                text-align: center;
                                                text-transform: uppercase;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //APLICACOES
                        &.step_2 {
                            .content {
                                ul {
                                    &:empty {
                                        &:after {
                                            content: 'N\00E3 o h\00E1\0020 aplica\00E7\00F5 es dipon\00ED veis.';
                                        }
                                    }
                                }
                            }
                        }

                        //CARACTERISTICAS
                        &.step_3 {
                            .content {
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;

                                    &:empty {
                                        &:after {
                                            content: 'N\00E3 o h\00E1\0020 caracter\00ED sticas dispon\00ED veis.';
                                        }
                                    }

                                    li {
                                        width: 33.3%;
                                        height: 60px;
                                        margin-bottom: 20px;

                                        @media screen and (max-width:$mobile) {
                                            width: 50%;
                                        }

                                        a {
                                            width: 90%;
                                            height: 100%;
                                            display: flex;
                                            padding: 0 10px;
                                            margin: 0 auto;
                                            align-items: center;
                                            justify-content: center;
                                            background-color: #efefef;
                                            border-radius: 5px;

                                            &.active,
                                            &:hover {
                                                color: #fff;
                                                font-weight: bold;
                                                background-color: $cor-principal;

                                                i {
                                                    img {
                                                        filter: invert(1);
                                                        -webkit-filter: invert(1);
                                                        -moz-filter: invert(1);
                                                        -o-filter: invert(1);
                                                    }
                                                }
                                            }

                                            i {
                                                margin-right: 10px;

                                                img {
                                                    width: 35px;
                                                    height: auto;
                                                    transition: filter 300ms;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //CORES
                        &.step_4 {
                            .content {
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;

                                    &:empty {
                                        &:after {
                                            content: 'N\00E3 o h\00E1\0020 cores ou estampas dipon\00ED veis.';
                                        }
                                    }

                                    li {
                                        width: calc(100% / 8);
                                        padding: 10px;

                                        @media screen and (max-width:$mobile) {
                                            width: calc(100% / 4);
                                        }

                                        a {
                                            width: 60px;
                                            height: 60px;
                                            border-radius: 5px;
                                            display: inline-block;

                                            span {
                                                font-size: 0;
                                            }

                                            &.active,
                                            &:hover {
                                                border: 2px solid #22de45;
                                                box-shadow: 0px 0px 6px 1px #a2a2a2;
                                            }

                                            &[data-name="Amarelo"] {
                                                background-color: yellow;
                                            }

                                            &[data-name="Amendoa"] {
                                                background-color: #ffebcd;
                                                color: white
                                            }

                                            &[data-name="Avela"] {
                                                background-color: #be9c83;
                                                color: white
                                            }

                                            &[data-name="Areia"] {
                                                background-color: #dccbb5;
                                            }

                                            &[data-name="Azul"] {
                                                background-color: blue;
                                                color: white;
                                            }

                                            &[data-name="Bege"] {
                                                background-color: beige;
                                            }

                                            &[data-name="Branco"] {
                                                background-color: white;
                                            }

                                            &[data-name="Bronze"] {
                                                background-color: #cd7f32;
                                            }

                                            &[data-name="Cafe"] {
                                                background-color: #4b3621;
                                                color: white;
                                            }

                                            &[data-name="Candy"] {
                                                background-color: #fde1e4;
                                            }

                                            &[data-name="Caqui"] {
                                                background-color: #C3B091;
                                            }

                                            &[data-name="Caramelo"] {
                                                background-color: #8b5742;
                                                color: white;
                                            }

                                            &[data-name="Carvalho"] {
                                                background-color: #886c5a;
                                                color: white;
                                            }

                                            &[data-name="Castor"] {
                                                background-color: #A86B4E;
                                                color: white;
                                            }

                                            &[data-name="Champanhe"] {
                                                background-color: #FCDDAC;
                                                color: white;
                                            }

                                            &[data-name="Chocolate"] {
                                                background-color: #d2691f;
                                            }

                                            &[data-name="Chumbo"] {
                                                background-color: #5d5a56;
                                                color: white;
                                            }

                                            &[data-name="Cinza"] {
                                                background-color: gray;
                                                color: white;
                                            }

                                            &[data-name="Cobre"] {
                                                background-color: #976856;
                                                color: white;
                                            }

                                            &[data-name="Colorido"] {
                                                background: red;
                                                /* not working, let's see some red */
                                                background: -moz-linear-gradient(top,
                                                        rgba(255, 0, 0, 1) 0%,
                                                        rgba(255, 255, 0, 1) 15%,
                                                        rgba(0, 255, 0, 1) 30%,
                                                        rgba(0, 255, 255, 1) 50%,
                                                        rgba(0, 0, 255, 1) 65%,
                                                        rgba(255, 0, 255, 1) 80%,
                                                        rgba(255, 0, 0, 1) 100%);
                                                background: -webkit-gradient(linear, left top, left bottom,
                                                        color-stop(0%, rgba(255, 0, 0, 1)),
                                                        color-stop(15%, rgba(255, 255, 0, 1)),
                                                        color-stop(30%, rgba(0, 255, 0, 1)),
                                                        color-stop(50%, rgba(0, 255, 255, 1)),
                                                        color-stop(65%, rgba(0, 0, 255, 1)),
                                                        color-stop(80%, rgba(255, 0, 255, 1)),
                                                        color-stop(100%, rgba(255, 0, 0, 1)));
                                                color: black;
                                                font-weight: 600;
                                            }

                                            &[data-name="Confetti"] {
                                                background-color: #FB838E;
                                                color: white;
                                            }

                                            &[data-name="Coral"] {
                                                background-color: #ff7f50;
                                                color: white;
                                            }

                                            &[data-name="Creme"] {
                                                background-color: #fffdd0;
                                            }

                                            &[data-name="Cru"] {
                                                background-color: #cdb096;
                                            }

                                            &[data-name="Degrade"] {
                                                background-image: -webkit-linear-gradient(red, yellow);
                                                background-image: -o-linear-gradient(red, yellow);
                                                background-image: linear-gradient(red, yellow);
                                            }

                                            &[data-name="Dourado"] {
                                                background-color: #daa520;
                                            }

                                            &[data-name="Fendi"] {
                                                background-color: #BD9F7B;
                                            }

                                            &[data-name="Ferrugem"] {
                                                background-color: #D66C50;
                                                color: white;
                                            }

                                            &[data-name="Fume"] {
                                                background-color: #757a80;
                                                color: white;
                                            }

                                            &[data-name="Gelo"] {
                                                background-color: #fffafa;
                                            }

                                            &[data-name="Grafite"] {
                                                background-color: #42464C;
                                                color: white;
                                            }

                                            &[data-name="Kaki"] {
                                                background-color: #605148;
                                                color: white;
                                            }

                                            &[data-name="Laranja"] {
                                                background-color: orange;
                                            }

                                            &[data-name="Lavanda"] {
                                                background-color: #B8ABD4;
                                            }

                                            &[data-name="Lilas"] {
                                                background-color: #C8A2C8;
                                            }

                                            &[data-name="Linho"] {
                                                background-color: #CEC8B0;
                                            }

                                            &[data-name="Marfim"] {
                                                background-color: #EEDFC2;
                                            }

                                            &[data-name="Marinho"] {
                                                background-color: #120a8f;
                                                color: white;
                                            }

                                            &[data-name="Marrom"] {
                                                background-color: #964b00;
                                                color: white;
                                            }

                                            &[data-name="Marsala"] {
                                                background-color: #581d22;
                                                color: white;
                                            }

                                            &[data-name="Mostarda"] {
                                                background-color: #ffdb58;
                                            }

                                            &[data-name="Musgo"] {
                                                background-color: #006400;
                                                color: white;
                                            }

                                            &[data-name="Natural"] {
                                                background-color: #B1A9A2;
                                            }

                                            &[data-name="OffWhite"] {
                                                background-color: #e6e1d3;
                                            }

                                            &[data-name="Orquidea"] {
                                                background-color: #E3EFEF;
                                            }

                                            &[data-name="Ouro"] {
                                                background-color: #ffd700;
                                            }

                                            &[data-name="OuroVelho"] {
                                                background-color: #cfb53b;
                                            }

                                            &[data-name="Musgo"] {
                                                background-color: #006400;
                                                color: white;
                                            }

                                            &[data-name="Palha"] {
                                                background-color: #E7DECD;
                                            }

                                            &[data-name="Perola"] {
                                                background-color: #FFF4D8;
                                            }

                                            &[data-name="Prata"] {
                                                background-color: silver;
                                                color: white;
                                            }

                                            &[data-name="Preto"] {
                                                background-color: black;
                                                color: white;
                                            }

                                            &[data-name="Rato"] {
                                                background-color: #E0DFDB;
                                            }

                                            &[data-name="Rosa"] {
                                                background-color: pink;
                                            }

                                            &[data-name="Rose"] {
                                                background-color: mistyrose;
                                            }

                                            &[data-name="Roxo"] {
                                                background-color: purple;
                                                color: white;
                                            }

                                            &[data-name="Rubi"] {
                                                background-color: #E0115F;
                                                color: white;
                                            }

                                            &[data-name="Salmao"] {
                                                background-color: #F8B0A2;
                                            }

                                            &[data-name="Taupe"] {
                                                background-color: #A18F77;
                                                color: white;
                                            }

                                            &[data-name="Telha"] {
                                                background-color: #c86355;
                                            }

                                            &[data-name="Terra"] {
                                                background-color: #e2725b;
                                            }

                                            &[data-name="Tiffany"] {
                                                background-color: #81D8D0;
                                            }

                                            &[data-name="Trigo"] {
                                                background-color: #F4DEB5;
                                            }

                                            &[data-name="Turqueza"] {
                                                background-color: #3FE0D0;
                                            }

                                            &[data-name="Verde"] {
                                                background-color: green;
                                            }

                                            &[data-name="Vermelho"] {
                                                background-color: red;
                                            }

                                            &[data-name="Vinho"] {
                                                background-color: #50021A;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        //FIM
                        &.step_5 {
                            .content {
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;

                                    li {
                                        width: 33.3%;
                                        height: 60px;
                                        margin-bottom: 20px;

                                        @media screen and (max-width:$mobile) {
                                            width: 50%;
                                        }

                                        a {
                                            width: 90%;
                                            height: 100%;
                                            display: flex;
                                            padding: 0 10px;
                                            margin: 0 auto;
                                            align-items: center;
                                            justify-content: center;
                                            background-color: #efefef;
                                            border-radius: 5px;

                                            &.active,
                                            &:hover {
                                                color: #fff;
                                                font-weight: bold;
                                                background-color: $cor-principal;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                >.footer {
                    padding: 40px;

                    &[data-step="1"] {
                        .prev {
                            display: none;
                        }
                    }

                    &[data-step="5"] {
                        ul {
                            li {
                                &:nth-child(2) {
                                    display: none;
                                }
                            }
                        }

                        ul {
                            li {
                                &:nth-child(3) {
                                    display: block;
                                }
                            }
                        }
                    }

                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @media screen and (max-width:$mobile) {
                            flex-direction: column;
                        }

                        li {
                            &:nth-child(3) {
                                display: none;
                            }

                            a {
                                &.prev {
                                    color: #5d5d5d;
                                    font-size: 20px;
                                    font-weight: 400;
                                }

                                &.next,
                                &#send {
                                    display: block;
                                    color: $branco;
                                    width: 260px;
                                    height: 50px;
                                    line-height: 50px;
                                    border-radius: 3px;
                                    text-align: center;
                                    font-size: 25px;
                                    font-weight: 400;
                                    background-color: $cor-cta;

                                    @media screen and (max-width:$mobile) {
                                        margin-top: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .loading_app {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url(/arquivos/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: center;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    footer {
        .row-0 {
            display: none;
        }
    }
}