.erros {
    main {
        section {
            background-image: url(/arquivos/bg-erros.jpg);
            background-repeat: no-repeat;
            background-position: top center;
            padding-bottom: 40px;

            @media screen and (max-width:$mobile) {
                padding: 80px 15px 0px;
                background-image: none;
                background: #f3f0ee;
            }

            h1,
            .text {
                text-align: center;
            }

            h1 {
                font-size: 60px;
            }

            h1,
            h2 {
                font-weight: 600;
                color: #494949;
            }

            .text {

                p,
                h2 {
                    font-size: 20px;
                }

                h2 {
                    @media screen and (max-width: $mobile) {
                        width: 90%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                p {
                    font-weight: 400;
                    margin: 10px 0 40px;
                    color: #494949;
                }
            }

            .box_search {
                max-width: 580px;
                width: 100%;
                height: 40px;
                margin: 0 auto;

                input {
                    width: 100%;
                    height: 100%;
                    text-indent: 15px;
                    border-radius: 50px;
                    box-shadow: 0px 3px 1px 1px #c0c0c0;

                    @media screen and (max-width: $mobile) {
                        height: 50px;
                    }

                    &+button {
                        width: 28px;
                        height: 28px;
                        float: right;
                        margin-top: -35px;
                        margin-right: 20px;
                        background-image: url(/arquivos/ico-lupa-black.png?v=1000);
                        background-position: center;
                        background-repeat: no-repeat;

                        @media screen and (max-width: $mobile) {
                            margin-top: -40px;
                        }
                    }
                }
            }

            .menu_apoio {
                width: 100%;
                max-width: 1450px;
                padding: 15px;
                margin: 0 auto;
                background-color: #ffffffc4;
                margin-top: 80px;

                @media screen and (max-width: $mobile) {
                    margin-left: -15px;
                    margin-right: -15px;
                    width: calc(100% + 30px);
                }

                h3 {
                    font-size: 20px;
                    font-weight: 400;
                    text-align: center;
                    margin: 10px 0 30px;

                    @media screen and (max-width: $mobile) {
                        font-size: 15px;
                    }
                }

                .nav-menu-apoio {

                    li {
                        display: inline-block;
                        width: calc(100%/7);
                        vertical-align: top;

                        &:last-child {
                            padding-left: 3%;

                            @media screen and (max-width: $mobile) {
                                padding-left: 0;
                            }

                        }

                        @media screen and (max-width: $mobile) {
                            width: calc(100%/2);
                        }

                        p {
                            width: 50%;
                            margin-bottom: 25px;
                            color: $cor-principal;
                            font-weight: 900;

                            @media screen and (max-width: $mobile) {
                                width: 100%;
                                font-size: 13px;
                            }

                        }

                        ul {
                            @media screen and (max-width: $mobile) {
                                display: none;
                            }
                        }

                        li {
                            display: block;
                            width: auto;
                            margin-bottom: 15px;

                            &.lista-completa {
                                text-transform: capitalize;
                                text-decoration: underline;
                                padding-left: 0px !important;
                            }

                            a {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
}