footer {
	.row-0 {
		@media screen and (min-width:$mobile) {
			z-index: 1;
			position: relative;
			bottom: -38px;
		}

		@media screen and (max-width:$mobile) {
			.container {padding: 0;}
		}

		.newsletter {
			max-width: 970px;
			width: 100%;
			height: 90px;
			margin: 0 auto;
			padding: 25px;
			border-radius: 3px;
			background-color: $cor-principal;
			
			@media screen and (max-width:$mobile) {
				padding: 15px;
				height: auto;
				text-align: center;
			}

			h3 {
				font-size: 20px;
				font-weight: bold;
				color: white;
				
				@media screen and (min-width:$mobile) {
					position: relative;
					top: -5px;
				}
			}

			fieldset {
				@media screen and (min-width:$mobile) {
					position: relative;
					top: -23px;

				}

				&.success {
					color: white;
					
					@media screen and (min-width:$mobile) {
						top: -34px;
						background-color: $cor-principal;
					}
				}

				p {
					@media screen and (min-width:$mobile) {
						float: left;
						position: relative;
						bottom: -20px;		
					}

					@media screen and (max-width:$mobile) {
						max-width: 60%;
						margin: 0 auto 15px;
						float: none;
					}

					margin-right: 30px;
					color: white;
					font-weight: 300;
					font-size: 14px;
				}

				#newsletterClientName {
					display: none;
				}

				#newsletterClientEmail {
					float: left;
					max-width: 330px;
					width: 100%;
					height: 40px;
					border-radius: 3px;
					text-indent: 10px;
					color: gray;
					margin-right: 1%;

					@media screen and (max-width:$mobile) {
						max-width: 100%;
					}
				}

				#newsletterButtonOK {
					float: left;
					max-width: 150px;
					width: 100%;
					height: 40px;
					border-radius: 3px;
					background-color: #df8023;
					color: white;
					font-family: $font-secundaria;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 16px;
					cursor: pointer;
					box-shadow: 0px 0px 7px 0px #434343;
					appearance: none;
					-moz-appearance: none;
					-webkit-appearance: none;

					@media screen and (max-width:$mobile) {
						float: right;
						margin-top: 10px;
					}
				}
			}
		}
	}

	.row-1 {
		background-color: #f5f5f5;
		padding: 80px 0 10px;	
		margin-bottom: 30px;

		@media screen and (max-width:$mobile) {
			padding: 10px 0 10px;
		}

		.toggle {
			@media screen and (max-width:$mobile) {
				.title  {
					font-size: 18px;
					font-weight: 400;
					height: 50px;
					line-height: 50px;
					margin-right: -15px;
					margin-left: -15px;
					margin-top: 2px;
					margin-bottom: 2px;
					text-indent: 20px;
					background-color: white;
					position: relative;
	
					&.active {
						&:after {
							opacity: 0;
						}
					}
	
					&:before {
						content: '';
						width: 2px;
						height: 8px;
						display: block;
						position: absolute;
						right: 23px;
						top: 22px;
						background-color: #1aa1dd;
					}
	
					&:after {
						content: '';
						display: block;
						width: 8px;
						height: 2px;
						background-color: #1aa1dd;
						position: absolute;
						transition: opacity 300ms;
						right: 20px;
						top: 25px;
					}
				}

				ul {
					display: none;
					background-color: white;
					margin-left: -15px;
					margin-right: -15px;
					text-indent: 35px;
					padding: 20px 0;
				}
			}
		}
	
		.title {
			font-size: 16px;
			font-weight: bold;
			color: #000;
			margin-bottom: 30px;

			@media screen and (max-width:$mobile) {
				margin-bottom: 10px;
			}
		}

		ul {
			li {
				font-size: 14px;
				font-weight: 400;
				margin-bottom: 10px;
			}
		}

		.contact {
			@media screen and (max-width:$mobile) {
				display: none;
			}

			.title {
				&:nth-child(2) {
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}

		.redes_sociais {
			padding-left: 0;

			@media screen and (max-width:$mobile) {
				padding: 30px 0;
				text-align: center;
			}

			ul {
				display: flex;

				@media screen and (max-width:$mobile) {
					justify-content: center;
				}

				li {
					margin-right: 10px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}

	.row-2 {
		p {
			font-size: 14px;
			font-weight: 400;
			margin-bottom: 30px;

			@media screen and (max-width:$mobile) {
				text-align: center;
				margin-bottom: 10px;
			}
		}

		ul {
			display: flex;

			@media screen and (max-width:$mobile) {
				justify-content: center;
				margin-bottom: 30px;
			}

			&.seguranca {
				img {
					width: 55px;
					height: auto;
				}
			}

			&.cartoes {
				@media screen and (max-width:$mobile) {
					flex-wrap: wrap; 
				}

				img,
				svg {
					width: 28px;
					height: auto;
				}
			}

			&.seguranca,
			&.cartoes {
				align-items: center;
			}

			li {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.row-3 {
		padding: 10px 0 20px;
		border-top: 1px solid #dcdcdc;
		margin-top: 40px;

		p {
			font-size: 12px;
			font-weight: 300;
			color: #969696;
			text-align: center;

			span {
				display: block;
			}
		}
	}
}