header {
    @media screen and (max-width:$mobile) {
        margin-bottom: 15px;
    }

    @media screen and (min-width:$mobile) {
        margin-bottom: 20px;
    }

    .row-0 {
        background: #322645;
        /* Old browsers */
        background: -moz-linear-gradient(left, #322645 1%, #513564 51%, #744787 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #322645 1%, #513564 51%, #744787 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #322645 1%, #513564 51%, #744787 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#322645', endColorstr='#744787', GradientType=1);
        /* IE6-9 */
        
        p {
            color: white;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            padding-bottom: 3px;
            letter-spacing: 1px;
            
            br {
                @media screen and (min-width:$mobile) {
                    display: none;
                }
            }
            
            span {
                color: #ffcd6d;
            }
        }
    }

    .row-1 {
        @media screen and (min-width:$mobile) {
            margin: 20px 0;
        }

        .menu_apoio {
            @media screen and (max-width:$mobile) {
                display: none;
            }

            ul {
                display: flex;
                justify-content: space-between;

                @media screen and (min-width:$mobile) {
                    padding-top:25px;
                }

                li {
                    padding-bottom: 10px;

                    &.atendimento {
                        & > a {
                            &:after {
                                width: 7px;
                                height: 7px;
                                border-right: 1px solid #1aa1dd;
                                border-bottom: 1px solid #1aa1dd;
                                content: "";
                                display: inline-block;
                                transform: rotate(45deg);
                                margin-left: 10px;
                                position: relative;
                                top: -2px;
                            }
                        }

                        &:hover {
                            .hover {
                                display: block;
                            }
                        }

                        .hover {
                            display: none;
                            position: absolute;
                            padding: 10px;
                            z-index: 5;
                            border-radius: 3px;
                            background-color: #fff;
                            box-shadow: 0px 0px 3px 1px #c1c1c1;
                            margin-top:10px;

                            &:before {
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 7px 10px 7px;
                                border-color: transparent transparent white transparent;
                                content: '';
                                float: right;
                                margin-top: -20px;
                                margin-right: 60px;
                            }

                            p {
                                font-weight:400;
                                display: block;
                                margin-bottom: 15px;

                                a {
                                    font-weight:bold;
                                    display: block;
                                }
                            }

                            .call_whatsapp {
                                color:$cor-cta;
                                font-weight: bold;
                            }
                        }
                    }

                    & > a {
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }

        .hamburger {
            display: none;

            @media screen and (max-width:$mobile) {
                display: block !important;
                padding-top: 25px;
                order: 1;

                div {
                    span {
                        width: 100%;
                        height: 2px;
                        background-color: black;
                        display: block;
                        margin-bottom: 8px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .logo {
            @media screen and (max-width:$mobile) {
                text-align: right;
                order: 2;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .search {
            @media screen and (max-width:$mobile) {
                order: 4;
            }

            .busca {
                width: 100%;

                @media screen and (min-width:$mobile) {
                    margin-left: -15px;
                }
    
                legend,
                label,
                select {
                    display: none;
                }
    
                .fulltext-search-box.ui-autocomplete-input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid $cor-principal;
                    border-radius: 3px;
                    text-indent: 35px;
                    box-shadow: 1px 1px 5px 1px #dcdcdc;
                    background-image: url(/arquivos/ico-lupa.png);
                    background-repeat: no-repeat;
                    background-position: 8px;
                    color: gray;
    
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                    }
    
                    @media screen and (min-width:$mobile) {
                        margin-top: 14px;
                    }
                }
    
                .btn-buscar {
                    background-color: transparent;
                    color: $cor-principal;
                    font-weight: bold;
                    text-transform: lowercase;
                    font-size: 12px;
                    float: right;
                    margin-top: -27px;
                    margin-right: 20px;
                    cursor: pointer;
                    border-left: 1px solid #dcdc;
                    padding-left: 6px;
                }
            }
        }

        .icones {
            @media screen and (max-width:$mobile) {
                order: 3;
                padding: 18px 15px 0 0;
            }

            @media screen and (min-width:$mobile) {
                padding-left: 0;
            }

            > ul {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                @media screen and (min-width:$mobile) {
                    padding-top: 20px;
                }

                li {
                    position: relative;

                    a {
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    &.btn_account {
                        &:after {
                            width: 7px;
                            height: 7px;
                            border-right: 1px solid $cor-principal;
                            border-bottom: 1px solid $cor-principal;
                            content: '';
                            display: inline-block;
                            transform: rotate(45deg);
                            position: absolute;
                            top: 7px;
                            right: -9px;
                        }

                        &:hover {
                            @media screen and (min-width:$mobile) {
                                .hover {
                                    display: block;
                                }
                            }
                        }
                        
                        .hover {
                            position: absolute;
                            padding-top: 5px;
                            right: -30px;
                            z-index: 1;

                            &.active {
                                display: block;
                            }

                            &:before {
                                content: '';
                                display: block;
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 0 8px 11px 8px;
                                border-color: transparent transparent white transparent;
                                margin-left: 80px;
                            }

                            ul {
                                width: 130px;
                                padding: 10px;
                                border-radius: 3px;
                                background-color: red;
                                background-color: white;
                                box-shadow: 0px 0px 1px 1px #dcdcdc;
                            
                                li {
                                    margin-bottom: 20px;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }

                    &.btn_checkout {
                        span {
                            position: absolute;
                            bottom: 2px;
                            right: -5px;
                            width: 17px;
                            height: 17px;
                            line-height: 17px;
                            display: block;
                            background-color: $cor-principal;
                            border-radius: 50px;
                            text-align: center;
                            color: white;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .row-2 {
        @media screen and (max-width:$mobile) {
            z-index: 14;
            transition: all 300ms;
            width:100%;
            position: absolute;
            top: 0;
            left: -100%;
            opacity: 0;

            &.active {
                left:0;
                opacity: 1;
            }

            & > .container {
                width: auto!important;
                margin:0;
            }
        }

        .menu {
            @media screen and (max-width:$mobile) {
                width: 80%;
                max-width: 83.3%;
                box-shadow: 0px 0px 5px 1px #a4a4a4;
                background-color: #fff;
                position: relative;
                top: 0;
                z-index: 5;
                overflow: hidden;
            }

            .head {
                display: none;
                
                @media screen and (max-width:$mobile) {
                    display: block;
                    background-color: #e4e4e4;
                    height: 100px;
                    line-height: 130px;
                    font-size: 24px;
                    font-weight: 400;
                    text-align: center;
                    margin-right: -15px;
                    margin-left: -15px;
                }
            }

            .back {
                display: none;

                @media screen and (max-width:$mobile) {
                    display: block;
                    position: relative;
                    width: calc(100% + 30px);
                    height: 30px;
                    line-height: 30px;
                    text-indent: 15px;
                    background-color: #2f2f2f;
                    color: #fff;
                    transition: right .3s;
                    right: calc(-100% - 15px);

                    &:before {
                        content: '<';
                        margin-right: 5px;
                    }

                    &.active {
                        right: 15px;
                    }
                }
            }

            nav {
                @media screen and (max-width:$mobile) {
                    padding: 10px 0 40px;
                    overflow: hidden;
                }

                &>ul {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-top: 1px solid #dcdcdc;

                    @media screen and (max-width:$mobile) {
                        flex-direction: column;
                        border-top: none;
                    }

    
                    &>li {
                        @media screen and (min-width:$mobile) {
                            &:hover {
                                p {
                                    &:after {
                                        background-color: $cor-principal;
                                    }
                                }
        
                                .submenu {
                                    display: block;
                                }
                            }
                        }

                        p {
                            position: relative;
                            padding: 10px 0;
                            
                            @media screen and (max-width:$mobile) {
                                padding: 15px 0;
                                transition: opacity 300ms;
        
                                &.active {
                                    opacity: 0;
                                }
                            }
                            
                            &:after {
                                @media screen and (min-width:$mobile) {
                                    width: 100%;
                                    height: 2px;
                                    transition: all 300ms;
                                    background-color: transparent;
                                    content: '';
                                    display: block;
                                    z-index: 3;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                }

                                @media screen and (max-width:$mobile) {
                                    width: 5px;
                                    height: 5px;
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 24px;
                                    right: 8px;
                                    background-color: white;
                                    border-right: 1px solid $cor-principal;
                                    border-bottom: 1px solid $cor-principal;
                                    transform: rotate(-45deg);
                                }
                            }
    
                            a {
                                display: flex;
                                align-items: center;
    
                                &[title="Persianas"]{
                                    img{
                                        width: 23px;
                                        margin-right: 7px;
                                    }
                                }

                                svg {
                                    width: 22px;
                                    height: auto;
                                    margin-right: 5px;
                                }
                                
                                span {
                                    font-size: 14px;

                                    @media screen and (min-width:$mobile) and (max-width:$tablet) {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
    
                        .submenu {
                            display: none;
                            width: 1140px;
                            position: absolute;
                            top: 42px;
                            left: 0;
                            padding: 15px;
                            border-radius: 5px;
                            background-color: #fff;
                            box-shadow: 0px 0px 7px 3px #dcdcdc;
                            z-index: 2;

                            @media screen and (max-width:$mobile) {
                                display: block;
                                width: 100%;
                                height: 100%;
                                top: -40px;
                                left:100%;
                                z-index: 9;
                                border-radius: 0;
                                box-shadow: none;
                                overflow: scroll;
                                transition: left 300ms;

                                &.active {
                                    left: 0;;
                                }
                            }
    
                            .content {
                                width: 70%;
                                float: left;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    float: none;
                                    padding-top: 25px;
                                }

                                div {
                                    width: 33.3%;
                                    float: left;

                                    @media screen and (max-width:$mobile) {
                                        width: 100%;
                                    }

                                    ul {
                                        li {
                                            margin-bottom: 10px;
    
                                            &.lista-completa {
                                                a {
                                                    color: $cor-principal;
                                                }
                                            }
    
                                            @media screen and (max-width:$mobile) {
                                                width: 100%;
                                                float: none;
                                            }
        
                                            a {
                                                @media screen and (max-width:$mobile) {
                                                    font-size: 16px;
                                                    font-weight: 400;
                                                }
                                            }
                                        }
                                    }
                                }
    
                            }
    
                            .image {
                                width: 30%;
                                float: left;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                    float: none;
                                }
    
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }

            .content.footer {
                display: none;

                @media screen and (max-width:$mobile) {
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: 15px;
    
                    li {
                        &:nth-child(1) {
                            padding-right: 2.5px;
                        }
    
                        &:nth-child(2) {
                            padding-left: 2.5px;
                        }
    
                        &:nth-child(1),
                        &:nth-child(2) {
                            width: 50%;
    
                            a {
                                display: block;
                                border: 2px solid $cor-principal;
                                font-size: 14px;
                                font-weight: bold;
                                text-align: center;
                                height: 35px;
                                line-height: 31px;
                                border-radius: 3px;
                            }
                        }
    
                        &:nth-child(3) {
                            width: 100%;
                            margin-top: 5px;
    
                            a {
                                height: 35px;
                                display: block;
                                line-height: 35px;
                                border-radius: 3px;
                                font-size: 14px;
                                font-weight: bold;
                                text-align: center;
                                background-color: $cor-principal;
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .close_menu {
            @media screen and (max-width:$mobile) {
                display: block;
                padding:0;

                div {
                    width: 100%;
                    height: 70px;
                    margin-top: 15px;
                    background-color: $cor-principal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}