.home {
    main {
        .full_banner {
            position: relative;
            margin-bottom: 30px;

            .desktop {
                @media screen and (min-width:$mobile) {
                    ul {
                        z-index: 1;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 100%;
                        height: 280px;
                        background-color: #f4f4f4;
                    }

                    &.loading {
                        &:after {
                            background-image: url(/arquivos/ajax_loader.gif);
                            background-repeat: no-repeat;
                            background-position: center;
                        }

                        ul {opacity: 0;}
                    }
                }
            }

            @media screen and (max-width:$mobile) {
                .desktop {
                    display: none;
                }

                .mobile {
                    display: block;

                    .col-12 {padding: 0;}

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .venda_assistida {
            display: none;

            h2 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;

                @media screen and (max-width:$mobile) {
                    font-size: 25px;
                }
            }
            
            p {
                font-size: 16px;
                font-weight: 400;
                text-align: center;

                @media screen and (max-width:$mobile) {
                    font-size: 14px;
                }
            }

            ul {
                margin: 30px 0 50px;
                
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                @media screen and (max-width:$mobile) {
                    .slick-list {
                        padding: 0!important;
                    }
                }

                li {
                    width: 170px;
                    height: 130px;
                    display: block;
                    text-align: center;
                    border-radius: 5px;
                    background-color: #f6f6f6;
                    border: 1px solid $cor-principal;
                    padding-top: 11px;
                    box-shadow: 0px 0px 5px 1px #dcdcdc;
                    margin-right: 15px;

                    a {
                        display: block;
                        
                        svg {
                            width: 80px;
                            height: auto;

                            g,
                            rect,
                            path {
                                fill: $cor-principal;
                            }
                        }

                        span {
                            color: $cor-principal;
                            text-align: center;
                            display: block;
                        }
                    }
                }
            }
        }

        .tipbar {
            height: 50px;
            margin-bottom: 10px;
            padding: 0 40px;
            line-height: 50px;
            border-radius: 5px;
            background-color: #e6f2f7;

            @media screen and (max-width:$mobile) {
                padding: 0 15px;
                margin-bottom: 30px;
            }

            ul {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                li {
                    @media screen and (max-width:$mobile) {
                        margin-right: 15px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: #2f687f;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .aviso{
            background-color: #3A234A;
            display: block;
            padding: 7px 0;
            margin-bottom: 25px;

            p{
                letter-spacing: 2px;
                font-weight: 800;
                text-align: center;
                text-transform: uppercase;
                color: #fff;

                span{
                    color: #ffcd6d;
                }

                img{
                    display: inline;
                    padding-right: 6px;
                    vertical-align: bottom;
                }
            }
        }

        .para_voce {
            position: relative;

            @media screen and (max-width:$mobile) {
                background-color: #f6f6f6;
                padding-bottom: 25px;
            }

            @media screen and (min-width:$mobile) {
                .col-12 {
                    z-index: 1;
                }

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;;
                    width: 100%;
                    height: 470px;
                    background-color: #f6f6f6;
                }
            }

            h2 {
                font-size: 37px; //old: 50px
                font-weight: bold;
                text-align: center;
                margin: 50px 0;

                @media screen and (max-width:$mobile) {
                    font-size: 30px;
                    margin: 15px 0;
                }
            }

            ul {
                @media screen and (min-width:$mobile) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                @media screen and (max-width:$mobile) {
                    &.slick-initialized  {
                        margin-right: -15px;
                        
                        .slick-track {
                            margin-left: -15%;
    
                            .box-banner {
                                margin-right: 15px;
        
                                img {
                                    width: 270px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        .selecionado_voce {
            h2 {
                font-size: 30px;
                font-weight: 400;
                text-align: center;
                margin-top: 40px;
                margin-bottom: 30px;

                @media screen and (max-width:$mobile) {
                    margin-top:40px;
                }
            }

            .scroll {
                @media screen and (max-width:$mobile) {
                    overflow: scroll;
                }

                .tabs {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 100px 5.5px 100px;
                    margin-bottom: 25px;
                    
                    @media screen and (min-width:$mobile)  {
                        border-bottom: 1px solid #dcdcdc;
                    }
    
                    @media screen and (max-width:$mobile) {
                        width: 560px;
                        flex-direction: row;
                        padding: 0;
                    }
                    
                    li {
                        text-align: center;
                        
                        a {
                            transition: all 300ms;
                            padding: 0 10px 5px;
                            
                            &.active {
                                color: $cor-principal;
                                border-bottom: 2px solid $cor-principal;
                            }

                            &:hover {
                                @media screen and (min-width:$mobile)  {
                                    color: $cor-principal;
                                    border-bottom: 2px solid $cor-principal;            
                                }
                            }
                        }
                    }
                }
            }
            

            .option {
                height:0;
                opacity: 0;
                visibility: hidden;
                transition: opacity 300ms;

                &.active {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }

                .prateleira {
                    & > h2 {
                        display: none;
                    }
                }
            }
        }

        .mini_banners {
            @media screen and (min-width:$mobile) {
                margin-bottom: 60px;
                margin-top: 100px;
            }

            @media screen and (max-width:$mobile) {
                margin: 50px 0;
            }

            ul {
                display: flex;
                flex-wrap: wrap;

                @media screen and (max-width:$mobile)  {
                    margin-right: -15px;
                    margin-left: -15px;
                }

                .box-banner {
                    width: 50%;
                    padding: 0 15px 20px;

                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        padding: 0 0 20px;
                    }

                    @media screen and (min-width:$mobile) {
                        &:nth-child(1),
                        &:nth-child(3) {
                            margin-top: -85px;
                        }
                    }
    
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .nosso_blog {
            width: 100%;
            display: block;
            position: relative;

            &:before {
                content: '';
                top: 0;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                background-color: #f6f6f6;
            }

            h2 {
                font-size: 30px;
                font-weight: 400;
                text-align: center;
                margin: 20px 0;
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 40px;
               
                .slick-list {
                    margin: 0 -15px;

                    @media screen and (max-width:$mobile) {
                        margin: 0 -5px;
                    }
                }

                @media screen and (min-width:$mobile) {
                    margin-right: -15px;
                    margin-left: -15px;
                }

                li {
                    width: 270px;
                    border: 2px solid #dcdcdc;
                    background-color: #fff;
                    border-radius: 3px;
                    padding: 10px;
                    margin: 0 15px;

                    @media screen and (max-width:$mobile) {
                        margin: 0 2.5px;
                    }

                    figure {
                        position: relative;
                        overflow: hidden;
                        height: 100px;
    
                        @media screen and (min-width:$mobile) {
                            height: 210px;
                        }
    
                        img {
                            position: absolute;
                            overflow: hidden;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }

                    h3 {
                        height: 60px;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 20px;
                        margin: 10px 0 15px;
    
                        @media screen and (max-width:$mobile) {
                            height: 55px;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }

                    .description {
                        height: 38px;
                        overflow: hidden;
                        margin-bottom: 10px;
                    
                        p {
                            line-height: 17px;
                        }
                    }

                    a {
                        color: $cor-principal;
                        font-size: 16px;
                        font-weight: 400;
                        float: right;
                    }
                }
            }

            .slick-arrow {
                @media screen and (max-width:$mobile) {
                    top: 35%;
                }
            }
        }
    }

    footer {
        display: block;
    }
}

@media (max-width: 768px){
    .zopim{
        right: 5px !important;
        bottom: 65px !important;
    }
}