.institucional {
    &.nossa-loja {
        .intro-text {
            h2 {
                color: white;

                @media screen and (max-width: $mobile) {
                    color: #191919;
                }
            }

            p {
                color: white;

                @media screen and (max-width: $mobile) {
                    color: #191919 !important;
                }
            }
        }
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 20px 15px 20px 15px;
        color: $cor-principal;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15px;

        .menu {
            width: 25%;

            @media screen and (max-width: $mobile) {
                width: 100%;
            }

            h2 {
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            nav {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-right: 1px solid $cor-principal;
                margin: 0 0 20px;

                a {
                    font-weight: 300;
                    font-size: 13px;
                    margin: 5px 0;
                    color: $cor-secundaria;
                    text-transform: capitalize;

                    &:before {
                        content: "- ";
                    }
                }
            }
        }

        .text {
            width: 75%;

            @media screen and (max-width: $mobile) {
                width: 100%;
            }

            @media screen and (min-width: $mobile) {
                padding-left: 30px;
            }

            h2 {
                font-size: 20px;
                font-weight: 500;
            }

            p {
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 1rem;
            }

            ul {
                display: flex;
                flex-direction: column;

                &.search-results {
                    flex-direction: row;
                }

                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    footer{
        background: #fff;
    }

    // AJUSTES INTERNACIONAIS SOBRE ESCREVNDO 05/08 RAFAEL
    @media (max-width: 768px) {
        &.quem-somos{
            .page-sobre-nos {
                padding-top: 0 !important;
            }
            .page-sobre-nos .intro-text h2{
                font-weight: bold !important;
                font-size: 50px !important;
            }
            .page-sobre-nos .intro-text .numbers li strong{
                font-weight: bold;
                font-size: 44px;
                &::after{
                    font-weight: bold;
                    font-size: 44px;
                }
            }
            .page-sobre-nos .intro-text {
                background:url(/arquivos/bg-sobre-nos.png) no-repeat left bottom !important;
                background-size: 460px !important;
            }
               
            .page-content-layout {
                background-position: bottom !important;
                background-size: contain !important;
            }
            .page-sobre-nos .intro-text .modal-video {
                height: 150px !important;
                box-shadow: none !important;
                width: 260px !important;
            }
            .page-colecoes{
                padding:  0 !important;
                .text{
                    position: relative;
                    right: 0;
                    margin-top: 15px;
                    padding: 0 15px;
                }
            }
            .page-produtos, .page-importacao, .page-fabricacao, .page-atendimento {
                margin-top: 0px !important;
                padding-top: 0 !important;
                img{
                    margin-top: 20px;
                    padding-left: 0 !important;
                }
                .text{
                    margin-top: 15px;
                    padding: 0 15px;
                    position: relative;
                    left: 0;
                }
            }
            .page-diferencias {
                padding-top: 0px;
                .title{
                    color: rgba(181, 181, 181, 0.76) !important;
                }
            }
        }  
        &.nossa-loja{
            .intro-text h2{
                color: rgba(181, 181, 181, 0.50) !important;
                font-weight: bold !important;
                font-size: 60px !important;
                margin-bottom: 80px !important;
            }
            .gallery-our-place{
                li{
                    width: 33% !important;
                    padding: 4px !important;
                    margin: 0 !important;
                }
                img{
                    max-width: 100%;
                }
            }
        } 
        &.impresa, &.troca-devolucao, &.politica-privacidade, &.politica-envio{
            .title-page{
                color: rgba(181, 181, 181, 0.76) !important;
                font-size: 46px !important;
                font-weight: bold !important;
                text-align: left !important;
                margin: 0 !important;
                margin-bottom: 20px !important;
            }
        }
        &.contato{
            h2, h3{
                color: rgba(181, 181, 181, 0.76) !important;
            }
            .padding-right{
                padding-right: 0 !important;
            }
        }
    }
}
