.prateleira {
	& > h2 {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        margin-top: 50px;

        @media screen and (max-width:$mobile) {
            margin-top: 20px;
            line-height: 30px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        li {
            width: calc(100% / 4);
            padding: 10px;

            @media screen and (max-width:$mobile) {
                width: calc(100% / 2);
                margin-top: 20px;
                padding: 0;
            }

            article {
                padding: 10px;
                transition: all 300ms;

                &.add_more {
                    .column_1 {
                        display: none;
                    }
        
                    .column_2 {
                        display: block;
                    }
                }

                &.loading {
                    ._cta  {
                        input {
                            background-image: url(/arquivos/ajax-loader.gif);
                            background-size: 35px;
                            background-repeat: no-repeat;
                            background-position: center;
                            font-size: 0!important;
                        }
                    }
                }

                &:hover {
                    @media screen and (min-width:$mobile) {
                        box-shadow: 0px 0px 7px 2px #dcdcdc;
                    }

                    ._cta {
                        .column_1 {
                            .add_cart {
                                opacity: 1;
                            }
                        }
                    }
                }

                figure {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
    
                h3 {
                    height: 60px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-top: 7px;

                    @media screen and (max-width:$mobile) {
                        height: 80px;
                        font-size: 14px;
                        line-height: 15px;
                    }
                }
    
                .price {
                    height: 80px;

                    @media screen and (max-width:$mobile) {
                        height: 70px;
                    }

                    a {
                        line-height: 22px;

                        .price_de {
                            height: 22px;

                            @media screen and (max-width:$mobile) {
                                font-size: 0;

                                span {
                                    font-size: 13px;
                                }
                            }

                            span {
                                text-decoration: line-through;
                            }
                        }
    
                        .price_por {
                            font-size: 25px;
                            font-weight: bold;
                            color: $cor-principal;
                        }

                        .price_parc {
                            @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                                font-size: 11px;
                            }

                            @media screen and (max-width:$iphone5) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    ._cta {        
        .column_1 {
            .add_cart {
                width: 100%;
                height: 45px;
                line-height: 45px;
                border-radius: 5px;
                display: block;
                color: white;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 1px;
                text-align: center;
                text-transform: uppercase;
                background-color: $cor-cta;
                transition: all 300ms;
                opacity: 0;

                &.loading {
                    font-size: 0;
                    background-size: 30px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(/arquivos/ajax_loader_white.gif?v=100);
                }
        
                @media screen and (max-width:$mobile) {
                    opacity: 1;
                    display: block;
                    font-size: 10px;
                }
            }
        }
        
        .column_2 {
            display: none;

            .box {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .count {
                    width: 20%;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    background-color: $cor-cta;
                    color: white;
                    font-size: 18px;
                    font-weight: bold;
                    border-radius: 5px;
                }

                input[type="number"] {
                    width: 55%;
                    height: 45px;
                    margin-right: 2.5%;
                    margin-left: 2.5%;
                    text-align: center;
                    font-size: 18px;
                    font-weight: 400;
                    border-radius: 5px;
                    background-color: #f5f5f5;
                }
            }
        }
    }
}