.produto {
    main {
        @media screen and (min-width:$mobile) {
            overflow-x: hidden;
        }

        .product_info {
            width: 100%;
            max-width: 1170px;
            margin: 0 auto 30px;
            padding: 0 15px 40px;
            border-bottom: 1px solid #dcdcdc;
            position: relative;

            .column_1 {

                //THUMBS DESKTOP
                @media screen and (min-width: $mobile) {
                    #thumbs {
                        min-height: 770px;

                        >ul {
                            width: 100%;
                            max-width: 670px;

                            &:not(.slick-initialized),
                            &:empty {
                                &:after {
                                    content: '';
                                    width: 100%;
                                    height: 770px;
                                    display: block;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-image: url(/arquivos/ajax-loader.gif);
                                }

                                li {
                                    display: none;
                                }
                            }
                        }

                        .slick-list {
                            width: 670px;
                            overflow: visible !important;

                            li {
                                margin-right: 15px;
                                cursor: crosshair;
                                opacity: 0.5;
                                transition: opacity 300ms;
                                pointer-events: none;

                                &.slick-active {
                                    opacity: 1;
                                    pointer-events: auto;
                                }

                                img {
                                    &:not(.zoomImg) {
                                        width: 670px !important;
                                    }
                                }
                            }
                        }

                        .slick-dots {
                            margin-top: 30px;
                            justify-content: right;

                            li {
                                width: 70px;
                                height: 70px;
                                border-radius: 0;
                                background-color: #fff;
                                background-image: url(/arquivos/ajax-loader.gif);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                background-position: center;
                                margin-right: 30px;
                                cursor: pointer;
                                transition: border 300ms;
                                border: 1px solid transparent;

                                &.slick-active {
                                    border-color: $cor-principal;
                                }

                                &:last-child {
                                    margin-right: 0;
                                }

                                button {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                //THUMBS MOBILE
                @media screen and (max-width:$mobile) {
                    #thumbs {
                        position: relative;
    
                        #share {
                            left: 0;
                            z-index: 1;
                            top: 15px;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            position: absolute;
                            border-radius: 50px;
                            align-items: center;
                            justify-content: center;
                            background-color: $cor-principal;
    
                            &[href="#"] {
                                display: none;
                            }
    
                            svg {
                                margin-left: -4px;
                            }
                        }

                        >ul {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            margin-top: 5px;

                            &:not(.slick-initialized),
                            &:empty {
                                li {
                                    display: none;
                                }

                                &:after {
                                    content: '';
                                    width: 100%;
                                    height: 300px;
                                    display: block;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-image: url(/arquivos/ajax-loader.gif);
                                }
                            }

                            .slick-list {
                                width: 100%;
                                height: auto;

                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }

                            .slick-arrow {
                                @media screen and (max-width:$mobile) {
                                    top: 40%;
                                }
                            }

                            .slick-dots {
                                display: block !important;
                                margin-top: 30px;
                                justify-content: right;
                                white-space: nowrap;
                                overflow-x: auto;

                                li {
                                    width: 70px;
                                    height: 70px;
                                    border-radius: 0;
                                    background-color: #fff;
                                    background-image: url(/arquivos/ajax-loader.gif);
                                    background-size: 100%;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    margin-right: 30px;
                                    cursor: pointer;
                                    transition: border 300ms;
                                    border: 1px solid transparent;
                                    display: inline-block;

                                    &.slick-active {
                                        border-color: $cor-principal;
                                    }

                                    &:last-child {
                                        margin-right: 0;
                                    }

                                    button {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &>.column_2 {
                width: 100%;
                max-width: 460px;
                background-color: #fff;

                @media screen and (min-width: $mobile) {
                    min-height: 670px;
                    padding: 5px 15px 15px 15px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    box-shadow: 0 0 2px 1px #dcdcdc;
                }

                .productName {
                    font-size: 22px;
                    font-weight: bold;
                    line-height: 22px;
                    margin-bottom: 10px;

                    @media screen and (max-width:$mobile) {
                        margin-top: 20px;
                    }
                }

                .product_rating {

                    .trustvox-widget-rating .ts-shelf-container,
                    .trustvox-widget-rating .trustvox-shelf-container {
                        display: inline-block;
                    }

                    .trustvox-widget-rating span.rating-click-here {
                        top: -3px;
                        display: inline-block;
                        position: relative;
                        color: #daa81d;
                        font-size: 12px;
                    }

                    .trustvox-widget-rating:hover span.rating-click-here {
                        text-decoration: underline;
                    }
                }

                .product_sku_list {
                    .sku_list {
                        display: none;

                        h2 {
                            font-size: 16px;
                            font-weight: 400;
                            text-align: left;
                        }

                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            margin: 10px 0 10px;

                            li {
                                margin-right: 10px;

                                &:last-child {
                                    margin-right: 0;
                                }

                                figure {
                                    width: 44px;
                                    height: 44px;
                                    overflow: hidden;
                                    border-radius: 50px;
                                    border: 1px solid white;
                                    transition: all 300ms;
                                    position: relative;

                                    img {
                                        position: absolute;
                                        overflow: hidden;
                                        top: 50%;
                                        left: 50%;
                                        -webkit-transform: translate(-50%, -50%);
                                        -moz-transform: translate(-50%, -50%);
                                        -ms-transform: translate(-50%, -50%);
                                        -o-transform: translate(-50%, -50%);
                                        transform: translate(-50%, -50%);
                                    }

                                    &:hover {
                                        box-shadow: 0px 0px 0px 2px $cor-cta;
                                    }
                                }
                            }
                        }
                    }

                    .topic.Cores {
                        li {
                            &.specification {
                                font-size: 16px;
                                font-weight: 400;
                                text-align: left;
                            }

                            &.skuList {
                                span {
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-direction: row;
                                    margin: 10px 0 26px;

                                    input {
                                        display: none;
                                    }

                                    label {
                                        width: 44px;
                                        height: 44px;
                                        overflow: hidden;
                                        border-radius: 50px;
                                        border: 1px solid #fff;
                                        transition: all .3s;
                                        position: relative;
                                        cursor: pointer;
                                        margin-right: 10px;

                                        &:last-child {
                                            margin-right: 0;
                                        }

                                        &.sku-picked,
                                        &:hover {
                                            box-shadow: 0 0 0 2px #41a961;
                                        }

                                        img {
                                            width: 100px;
                                            height: auto;
                                            position: absolute;
                                            overflow: hidden;
                                            top: 50%;
                                            left: 50%;
                                            -webkit-transform: translate(-50%, -50%);
                                            -moz-transform: translate(-50%, -50%);
                                            -ms-transform: translate(-50%, -50%);
                                            -o-transform: translate(-50%, -50%);
                                            transform: translate(-50%, -50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .product_price {
                    .valor-por {
                        font-size: 0;

                        .skuBestPrice {
                            font-size: 28px;
                            font-weight: bold;
                            font-style: normal;
                            color: $cor-principal;
                        }

                        .typeofprod {
                            font-size: 16px;
                            font-style: normal;
                            color: #5c5c5c;
                            margin-left: 5px;

                            &:empty {
                                display: none;
                            }
                        }
                    }

                    .descricao-preco {
                        .price-list-price {
                            text-decoration: line-through;
                        }
                    }

                    .valor-dividido {
                        margin-top: -7px;
                        font-size: 16px;
                        font-weight: 400;

                        span {
                            display: flex;
                            align-items: center;
                            font-weight: 400;
                            font-style: normal;

                            span {
                                display: flex;

                                label {
                                    display: flex;
                                    margin-left: 3px;
                                }

                                strong {
                                    font-weight: 400;
                                    font-style: normal;

                                    label {
                                        font-weight: 400;
                                        font-style: normal;
                                    }
                                }
                            }

                            strong {
                                .skuBestInstallmentValue {
                                    margin-left: 3px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    .preco-a-vista {
                        display: none !important;
                    }
                }

                .product_range {
                    .box_range {
                        background-color: #f6f6f6;
                        padding: 20px 15px 35px;
                        margin: 22px 0 22px -15px;

                        @media screen and (max-width:$mobile) {
                            margin: 22px -15px 22px -15px;
                        }

                        .title {
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                margin-bottom: 37px;
                            }
                        }

                        .content {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .min_max {
                                width: 12.5%;
                                font-size: 14px;
                                font-weight: bold;
                                color: #686868;
                                margin-top: -8px;

                                &:last-child {
                                    text-align: right;
                                }
                            }

                            .slider {
                                width: 75%;
                            }
                        }
                    }
                }

                .product_qtd {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    margin-top: 25px;

                    .column_1 {
                        width: 30%;
                        margin-right: 5%;

                        @media screen and (max-width:$mobile) {
                            width: 50%;
                            margin-right: 0;
                        }

                        p {
                            margin-bottom: 5px;
                        }

                        .box_count {
                            width: 130px;
                            height: 40px;
                            border: 1px solid $cor-principal;
                            border-radius: 3px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;

                            .count {
                                width: 20%;
                                line-height: 34px;
                                font-weight: bold;
                                text-align: center;
                                font-size: 22px;
                                color: $cor-principal;
                            }

                            .input {
                                width: 60%;
                                display: flex;
                                justify-content: center;

                                span,
                                input[type="number"] {
                                    width: 50%;
                                    line-height: 38px;
                                }

                                input[type="number"] {
                                    text-align: center;
                                    pointer-events: none;
                                    font-size: 20px;
                                    color: #686868;
                                }

                                span {
                                    text-align: left;
                                    font-size: 20px;
                                    color: #686868;
                                    text-transform: lowercase;
                                }
                            }
                        }
                    }

                    .column_2 {
                        width: 65%;

                        @media screen and (max-width:$mobile) {
                            width: 50%;
                        }

                        .product_total {
                            font-size: 16px;

                            span {
                                color: $cor-principal;
                                font-weight: bold;
                                display: block;
                            }
                        }
                    }

                    a[href="#metragem"] {
                        width: 100%;
                        margin-top: 15px;
                        text-decoration: underline;
                    }
                }

                .buy-in-page-quantity {
                    display: none !important;
                }

                .buy-in-page-button {
                    width: 100%;
                    display: block;
                    height: 70px;
                    line-height: 70px;
                    border-radius: 3px;
                    margin: 21px 0;
                    color: #fff;
                    font-size: 0;
                    font-weight: bold;
                    text-align: center;
                    text-transform: uppercase;
                    box-shadow: 0px 9px 11px 1px #bae7c8;
                    background-size: 0;
                    background-color: $cor-cta;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(/arquivos/ajax_loader_white.gif);

                    &:after {
                        content: 'Adicionar ao carrinho';
                        font-size: 25px;
                        ;
                    }

                    &.loading {
                        font-size: 0;
                        background-size: 12%;
                    }

                    &+.dis-none {
                        display: block !important;
                    }
                }

                .btn.galeria {
                    a {
                        width: 100%;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 25px;
                        border-radius: 3px;
                        border: 2px solid #3f2698;
                        color: #3f2698;

                        i {
                            width: 40px;
                            height: 40px;
                            margin-right: 10px;

                            svg {
                                width: 100%;
                                height: 100%;
                                fill: #3f2698;
                            }
                        }
                    }
                }

                .product_frete {
                    form {
                        fieldset {
                            p {
                                height: 40px;
                                line-height: 40px;
                                font-size: 16px;
                                font-weight: 400;
                                margin-right: 30px;
                                float: left;

                                @media screen and (max-width:$mobile) {
                                    width: 20%;
                                    line-height: 20px;
                                    margin-right: 0;
                                }
                            }

                            input[type="text"] {
                                float: left;
                                width: 177px;
                                height: 40px;
                                text-indent: 10px;
                                border: 1px solid #dcdcdc;
                                border-radius: 3px;
                                margin-right: 10px;
                                transition: border 300ms;

                                &.active {
                                    border-color: red;
                                }

                                @media screen and (max-width:$mobile) {
                                    width: 57%;
                                    margin-right: 2%;
                                }
                            }

                            input[type="submit"] {
                                float: left;
                                width: 80px;
                                height: 40px;
                                background-color: #343434;
                                border-radius: 3px;
                                color: white;
                                cursor: pointer;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                appearance: none;

                                @media screen and (max-width:$mobile) {
                                    width: 20%;
                                }
                            }
                        }
                    }

                    .table {
                        height: 300px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: #fff;

                        @media screen and (max-width:$mobile) {
                            height: auto;
                            position: static;
                            margin-top: 20px;
                        }

                        table {
                            @media screen and (min-width:$mobile) {
                                padding: 0 10px;
                            }
                        }

                        .remove_frete {
                            float: right;
                            color: red;
                            font-weight: bold;
                            position: relative;
                            right: 10px;
                            top: 10px;
                        }
                    }
                }
            }
        }

        #galeria {
            padding: 30px 0;
            margin-bottom: 30px;
            background-color: #f8fbfb;

            h2 {
                color: #3f2698;
                font-size: 30px;
                line-height: 30px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 30px;

                &+ul {
                    &:not(.slick-initialized) {
                        &:after {
                            content: '';
                            width: 100%;
                            height: 300px;
                            display: block;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-image: url(/arquivos/ajax-loader.gif);
                        }

                        li {
                            display: none;
                        }
                    }
                }
            }

            ul {
                &:empty {
                    &:after {
                        content: '';
                        width: 100%;
                        height: 300px;
                        display: block;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-image: url(/arquivos/ajax-loader.gif);
                    }
                }

                li {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .slick-arrow {
                &.slick-next {
                    right: 15px;
                }

                &.slick-prev {
                    left: 15px;
                }
            }

            .slick-dots {
                margin-top: 30px;
                justify-content: right;

                li {
                    width: 70px;
                    height: 70px;
                    border-radius: 0;
                    background-color: #fff;
                    background-image: url(/arquivos/ajax-loader.gif);
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 30px;
                    cursor: pointer;
                    transition: border 300ms;
                    border: 1px solid transparent;

                    &.slick-active {
                        border-color: $cor-principal;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    button {
                        display: none;
                    }
                }
            }
        }

        #metragem {
            padding: 50px 0;
            margin-top: 70px;
            background-color: #f4f4f4;

            .howTo {
                width: 100%;
                display: flex;
                flex-direction: row;
                box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
                overflow: auto;
                background: #fff;

                li {
                    width: 50%;
                    background: #fff;
                    vertical-align: top;

                    img {
                        display: block;
                    }

                    &:first-child {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    &:last-child {
                        padding: 25px;

                        img {
                            margin: 0 auto;
                            height: auto;
                            max-width: 500px;
                            width: auto;
                        }
                    }

                    .slider-for {
                        .slick-slide {

                            .item {
                                text-align: center;

                                .img {
                                    img {
                                        width: 70%;
                                    }
                                }

                                .descricao {
                                    border: 2px solid #dedede;
                                    border-radius: 5px;
                                    display: inline-block;
                                    padding: 10px;
                                    text-align: center;
                                    margin: 15px;

                                    p {
                                        color: #4a4a4a;
                                        font-family: "Open Sans";
                                        font-size: 16px;
                                        font-weight: 800;
                                        line-height: 22px;
                                        text-align: center;
                                        text-transform: uppercase;

                                        strong {
                                            font-size: 16px;
                                            font-weight: 800;
                                            line-height: 22px;
                                            text-align: center;
                                            color: #47beee;
                                        }

                                        span {
                                            color: #4a4a4a;
                                            font-family: "Open Sans";
                                            font-size: 14px;
                                            line-height: 19px;
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }

                    .slider-nav {
                        margin: 0;

                        .slick-slide {
                            opacity: 0.4;
                            cursor: pointer;

                            img {
                                width: 100%;
                                height: auto;
                            }
                        }

                        .slick-list {
                            max-height: 50px;
                            overflow: hidden;
                            margin-top: 15px;
                        }

                        .slick-arrow {
                            border: 1px solid #dedede;
                            border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            top: -50px;

                            &.slick-next {
                                right: 0;
                            }

                            &.slick-prev {
                                left: 0;

                                &:before {
                                    transform: rotate(-180deg);
                                }
                            }
                        }

                        .slick-current {
                            opacity: 1;
                            box-shadow: 0 2px 4px 0 rgba(166, 166, 166, 0.25);
                            border-left: 3px solid #47beee;
                        }

                        .slick-dots {
                            display: none !important;
                        }
                    }

                    .metragemTitle {
                        margin-bottom: 5%;
                        text-align: center;

                        p {
                            color: #bababa;
                            font-family: "Open Sans";
                            font-size: 13px;
                            font-weight: 300;
                            line-height: 18px;
                            text-align: center;
                            margin-bottom: 0;
                            text-transform: uppercase;
                        }

                        h3 {
                            color: #4a4a4a;
                            font-family: "Open Sans";
                            font-size: 24px;
                            font-weight: 800;
                            line-height: 24px;
                            text-align: center;
                            text-transform: uppercase;
                            margin-bottom: 15px;
                        }
                    }

                    p {
                        color: #4a4a4a;
                        font-family: "Open Sans";
                        font-size: 12px;
                        line-height: 24px;
                        text-align: center;
                    }
                }
            }

            @media screen and (max-width:$mobile) {

                // display: none;
                .howTo {
                    display: block;

                    li {
                        width: 100%;

                        &:last-child {
                            overflow: hidden;

                            img {
                                max-width: calc(100% + 50px);
                                position: relative;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                    }
                }
            }
        }

        .product_about {
            @media screen and (max-width:$mobile) {
                margin: 50px 0;
            }

            h2 {
                font-size: 30px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

.typeofprod:empty {
    display: none;
}