@media (min-width: 1200px) {
	.container {
		width: 1170px;
		max-width: 100%;
	}
}

//TABLET
@media screen and (min-width:$mobile) and (max-width:$tablet) {
	.container {
		width: 1000px;
		max-width: 100%;
	}
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.ui-autocomplete.ui-menu.ui-widget.ui-widget-content,
#ajaxBusy {
	display: none !important;
}

.p-l-0 {
	padding-left: 0;
}

.p-r-0 {
	padding-right: 0;
}

.desktop {
	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: $mobile) {
		display: block !important;
	}
}

#continue_buy {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background-color: white;
	z-index: 1;
	display: block;
	height: 265px;
	margin-top: -132.5px;
	padding: 15px;
	z-index: 12;
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	@media screen and (max-width:$mobile) {
		width: calc(100% - 30px);
		height: auto;
		top: 20%;
		left: 15px;
		margin: 0;
	}

	&>.close {
		float: right;
		margin-top: -40px;
		font-weight: bold;
		color: white;
		font-size: 18px;
		margin-right: -15px;
	}

	.content {
		.head {
			padding: 20px 0;
			text-align: center;
			margin-bottom: 20px;
			border-bottom: 1px solid #dcdcdc;

			svg {
				width: 80px;
				height: 84px;
				margin-bottom: 25px;
			}

			p {
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;

				@media screen and (max-width:$iphone5) {
					font-size: 14px;
				}
			}
		}

		.footer {
			ul {
				display: flex;
				justify-content: space-between;

				@media screen and (max-width:$mobile) {
					flex-direction: column;
				}

				li {
					a {
						width: 220px;
						height: 35px;
						line-height: 35px;
						font-weight: bold;
						text-align: center;
						display: inline-block;
						text-transform: uppercase;

						@media screen and (max-width:$mobile) {
							width: 100%;
							margin-bottom: 10px;
						}
					}

					&:nth-child(1) {
						a {
							font-weight: bold;
							color: $cor-principal;
							border: 1px solid $cor-principal;
						}
					}

					&:nth-child(2) {
						a {
							background-color: $cor-cta;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

#overlay,
#overlay_ {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	transition: opacity .5s;
	visibility: hidden;
	z-index: 11;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.txt-center {
	text-align: center;
}

.dis-none {
	display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/*//////////////////////////////////////////////////////////////////
[ REBOOT ]*/
*,
*:before,
*:after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	font-size: 14px;
	font-family: $font-principal;
	color: $cor-texto;
	box-sizing: border-box;

	&.active {
		@media screen and (max-width:$mobile) {
			overflow: hidden;
		}
	}
}

/*---------------------------------------------*/
a {
	color: inherit;
	text-decoration: none;
	transition: color 0.5s;

	@media screen and (min-width:$mobile) {
		&:hover {
			text-decoration: none;
			color: $cor-principal;
		}

		&:focus {
			outline: none;
		}
	}
}

/*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	font-family: $font-principal;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input,
textarea,
label {
	display: block;
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

iframe {
	border: none;
}