$font-principal: 'Titillium Web', sans-serif;
$font-secundaria: 'Open Sans', sans-serif;

$branco: #fff;
$cor-principal: #1aa1dd;
$cor-secundaria: #DB6885;
$cor-cta: #41a961;
$cor-texto: #191919;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1025px;
$small-monitor: 1366px;